:root {
  --font-color: #213547;
  --border-radius: 0.5rem;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--font-color);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent-color: hsl(243, 42%, 36%);
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
  transition: color 0.1s ease-out;
}
a:hover {
  color: #535bf2;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0;
}

table {
  width: 50%;
  table-layout: fixed;
}

th {
  text-align: left;
  text-transform: capitalize;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  color: var(--accent-color);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.cta-button {
  background-color: #646cff;
  color: #fff;
  font-weight: 600;
}
button.cta-button:hover {
  background-color: var(--accent-color);
  color: #fff;
}

div.top-of-table-div {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  max-width: 100rem;
  margin-bottom: 2rem;
}

footer {
  height: 4rem;
  background-color: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}
