#modal {
  position: absolute;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  backdrop-filter: blur(8px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#modal .header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 2rem;
  background-color: var(--accent-color);
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}

#modal .header button {
  padding: 0;
  background-color: transparent;
  color: #fff;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
}

#modal .header button:hover {
  background-color: #fff;
  color: var(--accent-color);
}

#modal-container {
  margin-top: -10rem;
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
  background-color: #fff;
  padding: 0;
  width: 50%;
  min-height: 32vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}


#modal #modal-content button {
  background-color: var(--cta-button-color);
  color: #fff;
  height: 3rem;
  font-size: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  width: fit-content;
}

#modal #modal-content button:hover { 
  background-color: var(--accent-color);
}